USE [master]
GO
/****** Object:  Database [cars]    Script Date: 09.01.2019 23:26:46 ******/
CREATE DATABASE [cars]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cars', FILENAME = N'C:\cars.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cars_log', FILENAME = N'C:\cars_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cars].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cars]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 09.01.2019 23:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[address_id] [int] IDENTITY(1,1) NOT NULL,
	[region] [nvarchar](150) NULL,
	[street] [nvarchar](150) NULL,
	[city] [nvarchar](150) NULL,
 CONSTRAINT [PK_addresses] PRIMARY KEY CLUSTERED 
(
	[address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[car_versions]    Script Date: 09.01.2019 23:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[car_versions](
	[version_id] [int] NOT NULL,
	[version_name] [varchar](255) NULL,
	[is_radio_available] [bit] NULL,
	[is_air_condition_available] [bit] NULL,
	[is_pearl_paint_available] [bit] NULL,
	[is_gps_available] [bit] NULL,
	[is_leather_available] [bit] NULL,
	[is_parking_support_avaible] [bit] NULL,
	[model_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cars]    Script Date: 09.01.2019 23:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cars](
	[car_id] [int] NOT NULL,
	[car_version] [int] NULL,
	[is_sold] [bit] NULL,
 CONSTRAINT [PK_cars] PRIMARY KEY CLUSTERED 
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client_addresses]    Script Date: 09.01.2019 23:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_addresses](
	[client_address_id] [int] IDENTITY(1,1) NOT NULL,
	[address_id] [int] NOT NULL,
 CONSTRAINT [PK_client_addresses] PRIMARY KEY CLUSTERED 
(
	[client_address_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clients]    Script Date: 09.01.2019 23:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clients](
	[client_id] [int] IDENTITY(1,1) NOT NULL,
	[client_first_name] [varchar](255) NULL,
	[client_last_name] [varchar](255) NULL,
	[date_of_birth] [date] NULL,
	[client_sex] [varchar](1) NULL,
	[client_address_id] [int] NULL,
 CONSTRAINT [PK__client__BF21A424EC416234] PRIMARY KEY CLUSTERED 
(
	[client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[engines]    Script Date: 09.01.2019 23:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[engines](
	[engine_id] [int] NOT NULL,
	[engine_type] [varchar](255) NULL,
	[engine_size] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[engine_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturers]    Script Date: 09.01.2019 23:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturers](
	[manufacturer_id] [int] NOT NULL,
	[manufacturer_name] [nchar](10) NULL,
 CONSTRAINT [PK_manufacturers] PRIMARY KEY CLUSTERED 
(
	[manufacturer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[model]    Script Date: 09.01.2019 23:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[model](
	[model_id] [int] NOT NULL,
	[model_name] [varchar](255) NULL,
	[model_class] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[models]    Script Date: 09.01.2019 23:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[models](
	[model_id] [int] NOT NULL,
	[model_name] [varchar](255) NULL,
	[model_class] [varchar](255) NULL,
	[manufacturer_id] [int] NULL,
	[engine_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[model_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[purchases]    Script Date: 09.01.2019 23:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[purchases](
	[purchase_id] [int] NOT NULL,
	[client_id] [int] NULL,
	[car_id] [int] NULL,
	[price] [bigint] NULL,
	[purchase_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[version]    Script Date: 09.01.2019 23:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[version](
	[version_id] [int] NOT NULL,
	[version_name] [varchar](255) NULL,
	[is_radio_available] [bit] NULL,
	[is_air_condition_available] [bit] NULL,
	[is_pearl_paint_available] [bit] NULL,
	[is_gps_available] [bit] NULL,
	[is_leather_available] [bit] NULL,
	[is_parking_support_avaible] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[version_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[addresses] ON 

INSERT [dbo].[addresses] ([address_id], [region], [street], [city]) VALUES (1, N'Lubelskie', NULL, N'Zamość')
INSERT [dbo].[addresses] ([address_id], [region], [street], [city]) VALUES (2, N'Mazowieckie', NULL, N'Radom')
INSERT [dbo].[addresses] ([address_id], [region], [street], [city]) VALUES (3, N'Opolskie', NULL, N'Kędzierzyn-Koźle')
GO
SET IDENTITY_INSERT [dbo].[addresses] OFF
INSERT [dbo].[car_versions] ([version_id], [version_name], [is_radio_available], [is_air_condition_available], [is_pearl_paint_available], [is_gps_available], [is_leather_available], [is_parking_support_avaible], [model_id]) VALUES (1, N'ECONOMY', 1, 1, 0, 0, 0, 0, 0)
INSERT [dbo].[car_versions] ([version_id], [version_name], [is_radio_available], [is_air_condition_available], [is_pearl_paint_available], [is_gps_available], [is_leather_available], [is_parking_support_avaible], [model_id]) VALUES (2, N'COMFORT', 1, 1, 1, 1, 0, 0, 0)
INSERT [dbo].[car_versions] ([version_id], [version_name], [is_radio_available], [is_air_condition_available], [is_pearl_paint_available], [is_gps_available], [is_leather_available], [is_parking_support_avaible], [model_id]) VALUES (3, N'ELEGANCE', 1, 1, 1, 1, 1, 1, 0)
INSERT [dbo].[cars] ([car_id], [car_version], [is_sold]) VALUES (1, 3, 1)
INSERT [dbo].[cars] ([car_id], [car_version], [is_sold]) VALUES (2, 45, 1)
INSERT [dbo].[cars] ([car_id], [car_version], [is_sold]) VALUES (3, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[client_addresses] ON 

INSERT [dbo].[client_addresses] ([client_address_id], [address_id]) VALUES (1, 1)
INSERT [dbo].[client_addresses] ([client_address_id], [address_id]) VALUES (2, 2)
INSERT [dbo].[client_addresses] ([client_address_id], [address_id]) VALUES (3, 3)
GO
SET IDENTITY_INSERT [dbo].[client_addresses] OFF
SET IDENTITY_INSERT [dbo].[clients] ON 

INSERT [dbo].[clients] ([client_id], [client_first_name], [client_last_name], [date_of_birth], [client_sex], [client_address_id]) VALUES (1, N'Zephania', N'Beard', CAST(N'1991-05-04' AS Date), N'M', 1)
INSERT [dbo].[clients] ([client_id], [client_first_name], [client_last_name], [date_of_birth], [client_sex], [client_address_id]) VALUES (2, N'Tobias', N'Avery', CAST(N'1982-09-13' AS Date), N'M', 2)
INSERT [dbo].[clients] ([client_id], [client_first_name], [client_last_name], [date_of_birth], [client_sex], [client_address_id]) VALUES (3, N'Craig', N'Blake', CAST(N'1990-01-05' AS Date), N'M', 3)
GO
SET IDENTITY_INSERT [dbo].[clients] OFF
INSERT [dbo].[engines] ([engine_id], [engine_type], [engine_size]) VALUES (0, N'DIESEL', 2)
INSERT [dbo].[engines] ([engine_id], [engine_type], [engine_size]) VALUES (1, N'DIESEL', 3)
INSERT [dbo].[engines] ([engine_id], [engine_type], [engine_size]) VALUES (2, N'PETROL', 1.1)
INSERT [dbo].[manufacturers] ([manufacturer_id], [manufacturer_name]) VALUES (0, N'AUDI      ')
INSERT [dbo].[manufacturers] ([manufacturer_id], [manufacturer_name]) VALUES (1, N'MERCEDES  ')
INSERT [dbo].[manufacturers] ([manufacturer_id], [manufacturer_name]) VALUES (2, N'OPEL      ')
INSERT [dbo].[model] ([model_id], [model_name], [model_class]) VALUES (1, N'Fabia', N'Hatchaback')
INSERT [dbo].[model] ([model_id], [model_name], [model_class]) VALUES (2, N'Octavia', N'Combi')
INSERT [dbo].[model] ([model_id], [model_name], [model_class]) VALUES (3, N'Octavia', N'Sedan')
INSERT [dbo].[models] ([model_id], [model_name], [model_class], [manufacturer_id], [engine_id]) VALUES (0, N'A1', N'CITY', 0, 2)
INSERT [dbo].[models] ([model_id], [model_name], [model_class], [manufacturer_id], [engine_id]) VALUES (1, N'A1', N'CITY', 0, 4)
INSERT [dbo].[models] ([model_id], [model_name], [model_class], [manufacturer_id], [engine_id]) VALUES (2, N'A5', N'SPORT', 0, 0)
INSERT [dbo].[purchases] ([purchase_id], [client_id], [car_id], [price], [purchase_date]) VALUES (1, 1, 1, 90000, CAST(N'2018-01-01' AS Date))
INSERT [dbo].[purchases] ([purchase_id], [client_id], [car_id], [price], [purchase_date]) VALUES (2, 2, 2, 145000, CAST(N'2018-01-02' AS Date))
INSERT [dbo].[purchases] ([purchase_id], [client_id], [car_id], [price], [purchase_date]) VALUES (3, 3, 3, 102000, CAST(N'2018-01-03' AS Date))
GO
INSERT [dbo].[version] ([version_id], [version_name], [is_radio_available], [is_air_condition_available], [is_pearl_paint_available], [is_gps_available], [is_leather_available], [is_parking_support_avaible]) VALUES (1, N'Economy', 1, 0, 0, 0, 0, 0)
INSERT [dbo].[version] ([version_id], [version_name], [is_radio_available], [is_air_condition_available], [is_pearl_paint_available], [is_gps_available], [is_leather_available], [is_parking_support_avaible]) VALUES (2, N'Silver', 1, 1, 1, 0, 0, 0)
INSERT [dbo].[version] ([version_id], [version_name], [is_radio_available], [is_air_condition_available], [is_pearl_paint_available], [is_gps_available], [is_leather_available], [is_parking_support_avaible]) VALUES (3, N'Gold', 1, 1, 1, 1, 1, 0)
ALTER TABLE [dbo].[car_versions]  WITH CHECK ADD  CONSTRAINT [FK_model_id] FOREIGN KEY([model_id])
REFERENCES [dbo].[models] ([model_id])
GO
ALTER TABLE [dbo].[car_versions] CHECK CONSTRAINT [FK_model_id]
GO
ALTER TABLE [dbo].[cars]  WITH CHECK ADD  CONSTRAINT [FK_cars_version] FOREIGN KEY([car_version])
REFERENCES [dbo].[car_versions] ([version_id])
GO
ALTER TABLE [dbo].[cars] CHECK CONSTRAINT [FK_cars_version]
GO
ALTER TABLE [dbo].[client_addresses]  WITH CHECK ADD  CONSTRAINT [FK_client_addresses_addresses] FOREIGN KEY([address_id])
REFERENCES [dbo].[addresses] ([address_id])
GO
ALTER TABLE [dbo].[client_addresses] CHECK CONSTRAINT [FK_client_addresses_addresses]
GO
ALTER TABLE [dbo].[models]  WITH CHECK ADD  CONSTRAINT [FK_engine_id] FOREIGN KEY([engine_id])
REFERENCES [dbo].[engines] ([engine_id])
GO
ALTER TABLE [dbo].[models] CHECK CONSTRAINT [FK_engine_id]
GO
ALTER TABLE [dbo].[models]  WITH CHECK ADD  CONSTRAINT [FK_manufacturer_id] FOREIGN KEY([manufacturer_id])
REFERENCES [dbo].[manufacturers] ([manufacturer_id])
GO
ALTER TABLE [dbo].[models] CHECK CONSTRAINT [FK_manufacturer_id]
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[clients] ([client_id])
GO
ALTER TABLE [dbo].[purchases]  WITH CHECK ADD  CONSTRAINT [FK_purchase_car] FOREIGN KEY([car_id])
REFERENCES [dbo].[cars] ([car_id])
GO
ALTER TABLE [dbo].[purchases] CHECK CONSTRAINT [FK_purchase_car]
GO
USE [master]
GO
